ADMIN_TOKEN='$argon2id$v=19$m=65540,t=3,p=4$TEST_TOKEN'
WEBSOCKET_ENABLED=true
SIGNUPS_ALLOWED=true
DOMAIN='https://test.example.com'
RCLONE_BACKUP_ENCRYPTION_PASSWORD="Password"
RCLONE_REMOTE_DIR="/test/dir"

SMTP_SERVER="test.mail.server:587"
SMTP_SENDER_EMAIL="test.sender@example.com"
SMTP_SENDER_LOGIN="test.sender%40example.com"
SMTP_SENDER_PASSWORD="TestPassword"
SMTP_RECEIVER_EMAIL="test.receiver@example.com"